*{
    box-sizing: border-box;
}
header{
    width: 80%;
    margin-left: 10%;
}
h1{
    text-align: center;
}
li{
    display: inline-block;
}

ul{
   position: relative; 
   left: 10%;
}
#most_left{
    position: absolute;
    right:15px;
    margin-left: 30px ;
    }
a{
    text-decoration: none;
    margin-left: 20px;
}
main{
    margin-top: 5%;
    margin-left:5%;
}
#left{
    width: 60%;
    height:70%;
    float: left;
}

#right{
    margin-left: 5%;
    float: right;
    width: 20%;
    position: absolute;
    left: 70%;
    /* height: 70%; */
}

.placeholder{
    width: 800px;
    height: 150px;
}

#right .placeholder{
    width:300px ;
    height: 100px;
}
footer{
    /* position: initial;
     */
    clear:both;
}
svg{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 5px;
  padding-bottom: 5px;
}