*{
    box-sizing: border-box;
}

.grey{
    background-color: grey;
    height: 150px;
}
.blue{
background-color: blue;
    height: 150px;

}
.yellow{
background-color: yellow;
   height: 150px;
}
.lightblue{
 
    background-color: lightblue;
    height: 150px;
}

